@import '@/style/variables';

.filled-input {
  &__label {
    font-weight: 600;
    color: $title-text;
    margin-bottom: 5px;

    &_dark {
      color: $title-text-dark;
    }
  }

  &__label-error {
    color: $error-text;
  }
}
