@import '@/style/variables';

.filled-input {
  background-color: #e5efff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  .MuiFilledInput-input {
    padding: 15px 10px;
  }

  &__label {
    font-weight: 600;
    color: $title-text;
    margin-bottom: 5px;
    font-size: 14px;
  }

  &__label-error {
    color: $error-text;
  }
}
