.list-creator {
  display: flex;
  flex-direction: column;

  .add-task-block {
    display: flex;
    margin-bottom: 15px;

    &__button {
      flex: 1;
    }
  }

  &__table-block {
    margin-top: 5px;
  }

  &__loader {
    margin: 25px auto 0;
  }

  &__search {
    align-self: center;
    width: 98%;
    margin-bottom: 15px !important;
  }

  @media screen and (max-width: 600px) {
    .add-task-block {
      margin-bottom: 10px;
    }

    &__search {
      width: 96%;
    }
  }
}
