@import '@/style/variables';

.dialog {
  .MuiDialog-container {
    padding: 0 10px;
  }

  .MuiPaper-root {
    background-color: transparent;
    border-radius: 15px;
    overflow: visible;
    width: 100%;
    margin: 0;
  }

  .dialog-mui-title {
    color: $title-text;
    background-color: $background;
    font-weight: bold !important;
    font-size: 22px !important;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #ddd;
  }

  .dialog-mui-content {
    display: flex;
    flex-direction: column;
    background-color: $background;
    border-radius: 0 0 10px 10px;
  }

  .MuiPaper-root .dialog-mui-content {
    padding-top: 15px;
  }

  @media screen and (max-width: 600px) {
    .MuiPaper-root .dialog-mui-content {
      padding: 10px;
    }

    .dialog-mui-title {
      padding: 5px !important;
      text-align: center;
    }
  }
}
