@import '@/style/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 65px;
  background-color: $soft-blue;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);

  &_dark {
    background-color: $header-dark;
  }

  &__settings {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  &__select {
    width: 150px;
  }

  &__title {
    font-size: 23px;
    font-weight: bold;
    color: $title-text;

    &_dark {
      color: $title-text-dark;
    }
  }
}
