@use 'sass:color';
@import './variables';
@import './mixixns';

body {
  background-color: $background;
  overflow: hidden;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  @include layout;
}

@media screen and (width <= 500px) {
  .container {
    padding: 0 10px 15px;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background-color: #dcdcdc;
}

.dark {
  background-color: $background-dark;

  .header {
    .MuiInputLabel-root {
      color: $grey-text1;
    }

    .MuiInputBase-root {
      color: $grey-text2;
    }

    .MuiSelect-icon {
      color: $grey-text2;
    }
  }

  .MuiPaper-root.MuiMenu-paper {
    ul {
      background-color: $input-dark-background;
      color: $title-text-dark;

      .Mui-selected {
        background-color: color.adjust($background-dark, $lightness: 20%);
      }
    }
  }

  .MuiInputBase-root {
    .MuiOutlinedInput-notchedOutline {
      border-color: $grey-text1;
    }

    &:hover .MuiOutlinedInput-notchedOutline {
      border-color: $grey-text2;
    }

    &.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-width: 1px;
    }
  }

  .search-input {
    .MuiInputBase-root {
      color: $title-text-dark;

      &::before {
        border-bottom-color: $grey-text2;
      }

      &:hover::before {
        border-bottom-color: $grey-text2;
      }
    }

    .MuiInputLabel-root {
      color: $grey-text1;
    }

    .MuiSvgIcon-root {
      color: $grey-text2;
    }
  }

  .filled-input {
    background-color: $input-dark-background;

    .MuiFilledInput-input {
      color: white;
    }

    &__label {
      color: $title-text-dark;
    }

    &__label-error {
      color: $error-text;
    }
  }

  .datepicker {
    color-scheme: dark;
    background-color: $input-dark-background;
    color: $title-text-dark;

    &__label {
      color: $title-text-dark;
    }

    &__label-error {
      color: $error-text;
    }
  }

  .dialog-mui-title {
    color: $title-text-dark;
    background-color: $soft-dark;
    border-bottom-color: #f5f5f533;
  }

  .dialog-mui-content {
    background-color: $soft-dark;
  }

  .info-title {
    color: color.adjust($info-text, $lightness: 10%);
  }

  .file-input__delete-icon {
    path {
      fill: $title-text-dark;
    }
  }

  .list-table {
    &_dark {
      thead {
        color: $title-text-dark;

        th {
          background: $soft-dark;
          border-top-color: $soft-dark;
        }
      }

      tbody {
        color: $title-text-dark;

        td {
          border-bottom-color: $soft-dark;
        }
      }

      tr th:first-child,
      tr td:first-child {
        border-left-color: $soft-dark;
      }

      tr th:last-child,
      tr td:last-child {
        border-right-color: $soft-dark;
      }

      tbody tr {
        &:hover {
          cursor: pointer;
          background-color: rgba(#000, 0.15);
        }
      }
    }
  }

  .table-delete-icon_dark {
    path {
      fill: $title-text-dark;
    }
  }

  .checkbox {
    .MuiCheckbox-root {
      color: $grey-text2;

      &.MuiCheckbox-root.Mui-checked {
        color: #2190ff;
      }
    }

    &__label {
      color: $title-text-dark;
    }
  }
}

@media screen and (width <= 768px) {
  body {
    overflow: auto;
  }
}
