@use 'sass:color';
@import './variables';
@import './mixixns';

.dark {
  background-color: $background-dark;

  .MuiButton-root.Mui-disabled {
    background-color: #424546;
    color: #6a6c6d;
  }

  .header {
    background-color: $background-dark-2;

    &__title {
      color: $text-dark;
    }

    .MuiInputLabel-root {
      color: $grey-1;
    }

    .MuiInputBase-root {
      color: $grey-2;
    }

    .MuiSelect-icon {
      color: $grey-2;
    }
  }

  .MuiPaper-root.MuiMenu-paper {
    ul {
      background-color: $input-dark-background;
      color: $text-dark;

      .Mui-selected {
        background-color: color.adjust($background-dark, $lightness: 20%);
      }
    }
  }

  .MuiInputBase-root {
    .MuiOutlinedInput-notchedOutline {
      border-color: $grey-1;
    }

    &:hover .MuiOutlinedInput-notchedOutline {
      border-color: $grey-2;
    }

    &.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-width: 1px;
    }
  }

  .search-input {
    .MuiInputBase-root {
      color: $text-dark;

      &::before {
        border-bottom-color: $grey-2;
      }

      &:hover::before {
        border-bottom-color: $grey-2;
      }
    }

    .MuiInputLabel-root {
      color: $grey-1;
    }

    .MuiSvgIcon-root {
      color: $grey-2;
    }
  }

  .filled-input {
    background-color: $input-dark-background;

    .MuiFilledInput-input {
      color: white;
    }

    &__label {
      color: $text-dark;
    }

    &__label-error {
      color: $error-text-dark;
    }
  }

  .datepicker {
    color-scheme: dark;
    background-color: $input-dark-background;
    color: $text-dark;

    &__button {
      color: $text-dark !important;
      border-color: $input-dark-background;

      &_error {
        color: $error-text-dark !important;
        border-color: #934242;
      }
    }

    @media (hover: hover) {
      &__button:hover {
        border-color: $grey-2;
        background-color: rgb(245 245 245 / 4%);
      }

      &__button_error:hover {
        border-color: #d22f2f;
        background-color: #d32f2f0a;
      }
    }
  }

  .dialog {
    .dialog-mui-title {
      color: $text-dark;
      background-color: $soft-dark;
      border-bottom-color: #f5f5f533;
    }

    .dialog-mui-content {
      background-color: $soft-dark;
    }
  }

  .info-title {
    color: color.adjust($info-text, $lightness: 25%);
  }

  .file-input__delete-icon {
    path {
      fill: $text-dark;
    }
  }

  .table {
    &_dark {
      .table-header {
        color: $text-dark;
        background-color: $soft-dark-2;
      }

      .table-row {
        background-color: $background-dark-2;
        color: $text-dark;

        &[data-status='done'] {
          background-color: rgba($background-dark-2, 0.2);
        }

        @media (hover: hover) {
          &:hover {
            background-color: color.adjust(#000, $lightness: 15%);
          }
        }
      }
    }
  }

  .table-delete-icon_dark {
    path {
      fill: $text-dark;
    }
  }

  .checkbox {
    .MuiCheckbox-root {
      color: $grey-2;

      &.MuiCheckbox-root.Mui-checked {
        color: #2190ff;
      }
    }

    &__label {
      color: $text-dark;
    }
  }

  .list-creator__loader {
    color: $title-text-dark;
  }

  .task-card {
    background-color: $soft-dark !important;

    &__title {
      color: $title-text-dark;
    }

    &__point {
      color: $title-text-dark;
    }

    &__description {
      color: $text-dark;
    }

    &__status {
      color: $text-dark;
    }

    &__image {
      box-shadow: 0 0 7px 0 rgb(0 0 0 / 85%);
    }

    &__loader {
      color: $title-text-dark;
    }
  }

  .task-description {
    &__back-button {
      color: $title-text-dark !important;
    }
  }
}
