$background: #f5f5f5ff;
$info-text: rgb(155 24 24 / 87%);
$title-text: rgb(17 62 116);
$table-top-offset: 215px;
$table-bottom-offset: 100px;
$soft-blue: #d7e0ee;
$error-text: #d22f2f;
$top-layout-margin: 30px;
