$background: #f5f5f5ff;
$background-dark: #333;
$background-dark-2: #444;
$info-text: rgb(155 24 24 / 87%);
$title-text: rgb(21 74 138);
$title-text-dark: whitesmoke;
$table-top-offset: 215px;
$table-bottom-offset: 100px;
$soft-blue: #d7e0ee;
$soft-dark: #555;
$soft-dark-2: #6a6a6a;
$grey-1: #f5f5f533;
$grey-2: #f5f5f57f;
$blue: #1975d1;
$error-text: #a80909;
$top-layout-margin: 20px;
$input-dark-background: #7a7a7a;
$notification-expired: rgb(236 24 24 / 70%);
$notification-today: rgb(243 205 5 / 80%);
$notification-actual: rgb(0 128 0 / 70%);
