.task-description {
  display: flex;
  flex-direction: column;
  gap: 25px;

  &__back-button {
    align-self: start;
  }
}

@media screen and (max-width: 768px) {
  .task-description {
    gap: 5px;
  }
}
