@import '@/style/variables';

.task-card {
  display: flex;
  flex-direction: column;
  background-color: $soft-blue !important;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  font-size: 20px;

  &_dark {
    background-color: $soft-dark !important;
  }

  &__title {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 20px 0;
    font-size: 30px;
    color: $title-text;

    &_dark {
      color: $title-text-dark;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    margin-top: 0;

    &_dark li {
      color: $title-text-dark;
    }

    li:first-child {
      margin-bottom: 30px;
      opacity: 0.5;
      font-size: 16px;
    }
  }

  &__point {
    font-size: 20px;
    font-weight: bold;
  }

  &__edit-button {
    align-self: end;
  }

  &__loader {
    margin: 0 auto;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &__image {
    max-width: 300px;
    max-height: 250px;
    margin: 8px 40px 0 20px;
    border-radius: 20px;
    box-shadow:
      -10px 2px 13px -7px #000,
      10px 2px 13px -7px #000,
      5px 5px 15px 5px rgb(0 0 0 / 0%);
  }
}
