@import "@/style/variables";

.task-card {
  display: flex;
  flex-direction: column;

  &__title {
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-size: 30px;
    color: $title-text;
  }

  &__point {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.5px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style-type: none;
  }

  &__edit-button {
    align-self: end;
  }
}