@use 'sass:color';
@import '@/style/variables';
@import '@/style/mixixns';

.table-container {
  width: 100%;
}

.table {
  padding: 0;
  margin: 0;
  list-style: none;

  &-list {
    max-height: calc(100vh - $table-top-offset - $table-bottom-offset);
    overflow: auto;
  }

  li {
    border-radius: 5px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    font-size: 16px;

    &.table-row {
      margin: 5px 5px 15px;
    }

    &:last-child {
      margin-bottom: 6px;
    }
  }

  .status {
    @include status-point;
  }

  .table-row {
    background-color: white;
    box-shadow: 0 4px 7px -4px rgb(0 0 0 / 50%);
    margin-bottom: 15px;

    &[data-status='expired'] {
      .status {
        background-color: $notification-expired;
      }
    }

    &[data-status='today'] {
      .status {
        background-color: $notification-today;
      }
    }

    &[data-status='actual'] {
      .status {
        background-color: $notification-actual;
      }
    }

    &[data-status='done'] {
      background-color: rgb(255 255 255 / 30%);

      .col:not(:first-child, :last-child) {
        opacity: 0.3;
        text-decoration: line-through;
      }

      .status {
        background-color: $notification-done;
      }
    }
  }

  .col {
    display: flex;
    align-items: center;
    padding: 0 10px;

    &:first-child,
    &:last-child,
    &:nth-last-child(2) {
      padding: 0;
    }
  }

  .col-1 {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .col-2 {
    display: inline-block;
    height: 100%;
    flex: 8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
    max-height: 100%;
  }

  .col-3 {
    flex: 3;
  }

  .col-4,
  .col-5 {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  @media (hover: hover) {
    .table-row {
      &:hover {
        cursor: pointer;
        background-color: color.adjust(#000, $lightness: 80%);
      }
    }

    .table-delete-icon {
      &:hover {
        cursor: pointer;
        transform: scale(1.2);

        path {
          fill: red;
        }
      }
    }
  }

  @media screen and (width <= 875px) {
    .col-2 {
      flex: 6;
    }
  }

  @media screen and (width <= 750px) {
    li {
      padding: 10px 0;
    }

    .table-row {
      display: grid;
      grid-template-columns: [column-1] 10% [column-2] 80% [column-3] 10%;
      grid-template-rows: [line-1] 1fr [line-2] 0.7fr [line-3] 1fr;
    }

    .status {
      width: 12px;
      height: 12px;
    }

    .col-1 {
      grid-area: line-2 / column-1 / line-3 / column-2;
    }

    .col-2 {
      grid-area: line-1 / column-2 / line-3 / column-3;
      margin-right: 0;
      font-weight: 600;
    }

    .col-3 {
      grid-area: line-3 / column-2 / auto / column-3;
    }

    .col-4 {
      grid-area: line-1 / column-3 / line-2 / auto;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    .col-5 {
      grid-area: line-3 / column-3 / auto / auto;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
