@use 'sass:color';
@import '@/style/variables';

.table-container {
  width: 100%;
}

.table {
  padding: 0;
  margin: 0;
  list-style: none;

  &-list {
    max-height: calc(100vh - $table-top-offset - $table-bottom-offset);
    overflow: auto;
  }

  li {
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;

    &.table-row {
      margin: 2px 10px 15px 2px;
    }

    &:last-child {
      margin-bottom: 6px;
    }
  }

  .table-header {
    background-color: $soft-blue;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: $title-text;
    margin-bottom: 20px;
  }

  .table-row {
    background-color: white;
    box-shadow: 0 4px 7px -4px rgb(0 0 0 / 50%);
    margin-bottom: 15px;
  }

  .col {
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  .col-1 {
    flex: 1;
  }

  .col-2 {
    display: block;
    flex: 6;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
  }

  .col-3 {
    flex: 3;
  }

  .col-4,
  .col-5 {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  @media (hover: hover) {
    .table-row {
      &:hover {
        cursor: pointer;
        background-color: color.adjust(#000, $lightness: 80%);
      }
    }

    .table-delete-icon {
      &:hover {
        cursor: pointer;
        transform: scale(1.2);

        path {
          fill: red;
        }
      }
    }
  }
}
